{% extends 'booking/index.html' %}

{% block content %}
<head>
    <style>
        .center-img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>
<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
    <symbol id="check2" viewBox="0 0 16 16">
        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
    </symbol>
    <symbol id="circle-half" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"/>
    </symbol>
    <symbol id="moon-stars-fill" viewBox="0 0 16 16">
        <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"/>
        <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"/>
    </symbol>
    <symbol id="sun-fill" viewBox="0 0 16 16">
        <path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
    </symbol>
</svg>

<main>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
        <h2 align="center">Наша команда!</h2>
        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <img src="{{ MEDIA_URL }}booking/Petr2.png"
                     alt="Ольга Начинкина"
                     class="bd-placeholder-img rounded-circle center-img"
                     width="140"
                     height="140">
                <h2 class="fw-normal" align="center">Пётр Тестович</h2>
                <p>Шеф-повар - гений кулинарии, который утверждает, что тесто
                    может чувствовать настроение повара. Когда он лепит
                    пельмени, его окружают ароматы вдохновения и лёгкая мелодия
                    из муки.</p>

            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img src="{{ MEDIA_URL }}booking/Olga2.png"
                     alt="Ольга Начинкина"
                     class="bd-placeholder-img rounded-circle center-img"
                     width="140"
                     height="140">
                <h2 class="fw-normal" align="center">Ольга Начинкина</h2>
                <p>Сомелье соусов - она подбирает соус к каждому пельменю с
                    такой тщательностью, будто это вино к мишленовскому блюду.
                    Её авторский "бульон для души" получил премию «Ложка
                    года».</p>
            </div>
            <!-- /.col-lg-4 -->
            <style>

            </style>
            <div class="col-lg-4">
                <img src="{{ MEDIA_URL }}booking/Vasya2.png"
                     alt="Василий Бульонович"
                     class="bd-placeholder-img rounded-circle center-img"
                     width="140"
                     height="140">
                <h2 class="fw-normal" align="center">Василий Бульонович</h2>
                <p class="text-center">Мастер настроения - пельмень, который
                    украшает ресторан
                    пельменными гирляндами и встречает гостей с фразой: «Ваш
                    пельмень уже ждёт своего героя!»</p>
            </div>
            <!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">История рождения
                    Империи Пельменей</h2>
                <p class="lead">Когда-то давно, в далёкой холодной Сибири❄️,
                    князь Пётр Пельменный задумался: «Почему у моих пельменей
                    нет своего царства?👑» Вдохновлённый этим вопросом, он
                    собрал лучших мастеров теста и фарша, чтобы создать Империю
                    Пельменей 🏰 — место, где каждый пельмень становится
                    королевским. Говорят, что первый трон для пельменя был
                    слеплен из теста, а корона — из золотистой луковой
                    шелухи.</p>
                <p class="lead">
                    Со временем Империя разрослась, и её слава достигла самых
                    дальних уголков мира.✨Люди приходили сюда не только за
                    едой, но и чтобы увидеть трон Пельменного Монарха, по
                    легенде дарующий вдохновение. Сегодня мы бережно храним
                    традиции князя Петра и приглашаем вас прикоснуться к
                    истории!📜
                </p>

            </div>
            <div class="col-md-5">
                <img src="{{ MEDIA_URL }}booking/History.jpg"
                     class="featurette-image img-fluid mx-auto" width="500"
                     height="500" alt="Description of your image" style="border-radius: 25px;">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Миссия и
                    ценности!</h2>
                <p class="lead">В Империи Пельменей мы верим, что пельмени
                    способны изменить мир🌍. Наша миссия — возвести пельмень в
                    статус национального героя и научить каждого уважать его
                    форму, текстуру и, конечно, душу — начинку⭐️.

                    Мы ценим традиции лепки теста, искусство равномерного фарша
                    и философию «в каждый пельмень — частичку любви💕». Наши
                    пельмени — не просто еда, это послание миру: «В единстве
                    начинки и теста — сила!💪»</p>
            </div>
                        <div class="col-md-5">
                <img src="{{ MEDIA_URL }}booking/Mission.jpg"
                     class="featurette-image img-fluid mx-auto" width="500"
                     height="500" alt="Description of your image" style="border-radius: 25px;">
            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->


    <!-- FOOTER -->
    <footer class="container">
        <p class="float-end"><a href="#">Back to top</a></p>
        <p>&copy;2024</p>
    </footer>
</main>

</body>
</html>
</title>
</head>
<body>

</body>
</html>

{% endblock %}